.module {
    padding: 1rem;
    background: white;
}
.module h2 {
    background: #90a4ae;
    margin: -rem -1rem 1rem -rem;
    padding: 1rem;
}
.module :last-child {
    margin-bottom: 0;
}
body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 400px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
 }